<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="API Test Suite">
    <test name="CreateUser API Tests">
        <classes>            
          <class name="com.automation.framework.JsonPlaceholder.GetByParamsTest"/>
        </classes>
    </test>
</suite>

<!-- mvn test "-DsuiteXmlFile=src/test/resources/suites/testng.xml" -->
