<?xml version="1.0" encoding="UTF-8"?>
<suite name="Google Search Tests" parallel="tests" thread-count="2">
    <!-- Test for Chrome -->
    <test name="Google Search - Chrome">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="com.automation.framework.frontend.OpenGoogle"/>
        </classes>
    </test>

    <!-- Test for Edge -->
    <test name="Google Search - Edge">
        <parameter name="browser" value="edge"/>
        <classes>
            <class name="com.automation.framework.frontend.OpenGoogle"/>
        </classes>
    </test>
</suite>
